:root {
  font-size: 10px;
  background-color: var(--back-color);
}
.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.post-item-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* navbar */
.profilenavbar {
  display: inline;
  font-size: 2.5rem;
  font-weight: bold;
}
.profilenavbar .container {
  margin: 1.2rem;
  display: flex;
  justify-content: space-between;
  color: var(--first-color);
}
.username {
  font-weight: 500;
  word-break: break-all;
}
.navbtn svg {
  fill: rgba(246, 220, 244, 0.01);
  color: var(--first-color);
}

/* Profile Section */

.profilecontainer {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 5px;
}

.profile-image {
  justify-content: center;
  align-items: center;

}
.profile-image img {
  box-shadow: 0.4rem 0.2rem 0.3rem 0.1rem var(--first-color);
  border-radius: 50%;
}
.profile-photo{
  /* box-shadow: 0.1rem 0.1rem 0.1rem var(--first-color); */
}
.profile-user {
  margin-top: 1.1rem;
}

.profile-btn {
  font-size: 1.2rem;
  border: 1px solid var(--first-color);
  border-radius: 1.7rem;
  padding: 1rem 2.4rem;
  margin-left: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.followbtn {
  background-color: var(--first-color);
  color: black;
  font-weight: 300;
  font-size: 1.5rem;
}
.morebtn {
  text-align: center;
  font-size: 2rem;
  padding: 7px;
  color: var(--first-color);
}
.messagebtn {
  color: var(--first-color);
  /* fill:rgba(246, 220, 244, 0.01); */
}
.messagebtn svg {
  fill: rgba(246, 220, 244, 0.01);
  color: var(--first-color);
  margin: 0 5px;
}
.followbtn svg {
  margin: 0 5px;
  color: var(--svg-color);
}
.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-about {
  margin: 2.3rem;
}

.profile-about li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-about li:last-of-type {
  margin-right: 0;
}
.profile-aboutdata {
  color: var(--first-color);
}
.profile-bio {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2.3rem;
}
.profile-biodata {
  font-size: 1.3rem;
}
.profile-real-name {
  font-size: 1.7rem;
  color: var(--first-color);
}
/* -------------line----------- */
.line {
  text-align: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}
.line .btn {
  border-radius: 4px;
}
.postbtn {
  font-size: 1.5rem;
  margin: 5px;
  width: 30%;
  padding: 1rem 5px;
  background-color: rgba(77, 69, 77, 0.141);
}
.active {
  border-bottom: 1px solid var(--first-color);
}
/* post Section */
.container {
  margin-bottom: 40px;
}
.post {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 1rem;
  margin: 1rem 0;
}

.post-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 0.2rem;
  color: #fff;
  cursor: pointer;
}

.post-item:hover .post-item-info,
.post-item:focus .post-item-info {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.post-item-info {
  display: none;
}

.post-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.post-item-likes {
  margin-right: 2.2rem;
}

.post-image {
  width: 100%;
  object-fit: cover;
}

.loading {
  color: var(--first-color);
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .profilenavbar {
    font-size: 1.5rem;
  }
  .profile {
    width: 100%;
    padding: 10px;
  }

  .profile-photo {
    width: 50px;
    height: 50px;
  }
  .btn {
    font-size: 1rem;
    padding: 5px;
    margin-left: 0.5rem;
  }
  .profile-about li {
    margin-right: 15px;
    font-size: 1rem;
  }
  .postbtn {
    font-size: 1rem;
    margin: 2px;
  }
  .btn svg {
    width: 15px;
  }
  .post-image {
    width: 80%;
  }
}
